#canvas{
  display: block;
}
*{
  margin: 0;
  padding: 0;
}
#actions{
  position: fixed;
  top:20px;
  left: 20px;
}
.actions > #brush{
  color: red;
  width: 2em; 
  height: 2em;
  transition: all 0.3s;
}

.actions.x >#brush{
  color: black;
  width: 1.5em; 
  height: 1.5em;
}
.actions.x >#eraser{
 color: red;
 width: 2em; 
 height: 2em;
 transition: all 0.3s;
}
.icon {
  width: 1.5em; height: 1.5em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  margin: 0 10px;
}